body {
	font-family: Arial, Helvetica, sans-serif;
	/* max-width: 800px; */
	margin: 30px;
}
table {
	width: 100%;
	border-collapse: collapse;
}
th,
td {
	border: 1px solid black;
	padding: 8px;
	text-align: left;
}
th {
	background-color: #f2f2f2;
}
